:root {
    --page-width: 40em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #2b2b2b;
        --background-darker-colour: #4b4b4b;
        --foreground-colour: #efefef;
        --foreground-muted-colour: #8b8b8b;
        --foreground-light-colour: #b2b2b2;
        --purple-highlight-colour: #8984bc;
        --purple-colour: #41398e;
        --frame-img: url("../imgs/frameDark.png");
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-colour: #efefef;
        --background-darker-colour: #e0e0e0;
        --foreground-colour: #2b2b2b;
        --foreground-muted-colour: #8b8b8b;
        --foreground-light-colour: #b2b2b2;
        --purple-highlight-colour: #41398e;
        --purple-colour: #8984bc;
        --frame-img: url("../imgs/frameLight.png");
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-colour);
    color: var(--foreground-colour);
    font-family: Poppins, sans-serif;
    margin: 0 auto;
    padding-left: 0.5em;
    width: var(--page-width);
}

h1:not(:hover) {
    opacity: 0.1;
}

h1 {
    transition: opacity 0.5s;
}

h1 {
    color: var(--foreground-muted-colour);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

a {
    color: var(--foreground-colour);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--foreground-light-colour);
    text-decoration-thickness: 0.1rem;
}

a:hover {
    color: var(--purple-highlight-colour);
}

code {
    tab-size: 4;
}

nav a {
    color: var(--purple-colour);
}

.breadcrumb {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 3em;
    margin-top: -1em;
    padding-inline-start: 0;
}

footer {
    color: var(--foreground-light-colour);
    margin-top: 3em;
    display: block;
    unicode-bidi: isolate;
}

.subtitle {
    margin-top: 0;
}

.item-container {
    margin: 0;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

.item-frame {
    image-rendering: pixelated;
    border: 32px solid transparent;
    border-image-source: var(--frame-img);
    border-image-slice: 16 fill;
    color: var(--foreground-light-colour);
    list-style-type: none;
}